html {
    position: relative;
    min-height: 100%;
}

body {
    font-size: 19px;
}

main {
    margin-top: 15px;
}

footer {
    width: 100%;
    background-color: #f5f5f5;
    padding: 25px 0;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 15px;
}

footer p {
    margin: 0;
}

li {
    margin-bottom: 3px;
}

#content {
    margin-bottom: 15px;
}

#content img {
    max-width: 100%;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.navbar .navbar-brand {
    font-size: 28px;
    height: auto;
    line-height: 40px;
}

.navbar .navbar-brand small {
    font-size: 18px;
    font-weight: 300;
    margin-left: 10px;
}

.navbar-brand img {
    display: inline-block;
}

@media (max-width: 415px) {
    header.navbar .navbar-brand small {
        display: block;
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    #sidebar {
        position: fixed;
        margin-top: 15px;
    }

    /* hacks to make sidebar nav vertical. */ 
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }

    .sidebar-nav .navbar ul {
        float: none;
    }

    .sidebar-nav .navbar ul:not {
        display: block;
    }

    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }

    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .sidebar-nav .navbar-nav > li  > a {
        line-height: 1.6;
    }
}

@media (max-width: 768px) {
    .navbar-header {
        float: right;
    }
    .navbar-collapse {
        width: 85%;
    }
}

@media (max-width: 960px) {
    body {
        font-size: 17px;
    }

    pre {
        font-size: 12px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

.page-header {
    margin-top: 0;
}

#sidebar {
    -webkit-box-shadow: none;
    box-shadow: none;
}

#sidebar .text-muted {
    color: #bbbbbb;
}

pre {
    padding: 0;
    border-radius: 4px;
    font-size: 15px;
}

pre code {
    border: none;
}

h1, .h1 {
    font-size: 34px;
}

h2, .h2 {
    font-size: 24px;
}

h3, .h3 {
    font-size: 20px;
    font-weight: bold;
}

h4, .h4 {
    font-size: 14px;
}

h5, .h5 {
    font-size: 14px;
}

h6, .h6 {
    font-size: 14px;
}

.navbar-toggle {
    font-size: 30px;
    margin: 0;
    padding: 0;
}


/* more hacks because. */

.navbar-default .navbar-nav > li > a {
    color: #2196f3 !important;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background-color: #2196f3 !important;
    color: #ffffff !important;
}

.nav > li > a:hover,
.nav >li > a:focus {
    text-decoration: none !important;
    background-color: #eeeeee !important;
}
