/* Hide title on homepage */
h1[data-page="Home"] {
  clip: rect(1px,1px,1px,1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.index-logo {
  border: 0;
  margin-bottom: 15px;
  width: 100%;
}

body .md-nav {
  font-size: 1.6rem;
}
